@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --standard-header-padding: 30px;
    --primary-accent: #2222CC;
    --secondary-accent: #FF4B33;
    --dark: #101010;
    --light: #F5F5F5;
}

html, body {
    background-color: var(--light);
    color: var(--dark);
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 0;
    transition: background-color 0.6s ease;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    animation: background-transition linear;
    animation-timeline: scroll(root);
}

body.accent {
      background-color: var(--secondary-accent);
}

header{
    position: fixed;
    z-index: 1000;
    height: auto; 
    width: 100vw; 
    display: flex; 
    justify-content: space-between; 
    padding: var(--standard-header-padding) var(--standard-header-padding) 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* TODO: change font */
h1 {
    font-weight: 300;
}

/* TODO: change font */
h2{
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 0.85;
    text-align: center;
}

.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--secondary-accent);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.toggle span{
    height: 2px;
    width: 20px;
    position: absolute;
    background-color: var(--primary-accent);
}

.toggle span:nth-child(1){
    top: 46%;
}

.toggle span:nth-child(2){
    top: 54%;
}

.toggle.active span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
    background-color: var(--dark);
}

.toggle.active span:nth-child(2){
    transform:rotate(-45deg);
    top: 50%;
    background-color: var(--dark);
}

.toggle:hover span:nth-child(1){
    transform: translateX(2px);
    transition: transform 0.3s ease;
}

.toggle:hover span:nth-child(2){
    transform: translateX(-2px);
    transition: transform 0.3s ease;
}

.toggle.active:hover span:nth-child(1){
    transform: rotate(45deg);
}

.toggle.active:hover span:nth-child(2){
    transform: rotate(-45deg);
}

#square-container{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    pointer-events: none;
    z-index: 10000;
}

.square{
    width: 100px;
    height: 100px;
    background-color: var(--primary-accent);
    box-sizing: border-box;
    pointer-events: none;
}

/* TODO: change font */
.content-overlay{
    position: fixed;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: var(--dark);
    color: var(--light);
    z-index: 900;
    pointer-events: none;
    opacity: 0;
}

.content-overlay.active {
    pointer-events: auto;
    opacity: 1;
}

.content-overlay h1{
    pointer-events: inherit;
    font-size: 4vw;
    color: var(--secondary-accent);
    text-transform: uppercase;
}

.content-overlay .nav-link{
    display: flex;
    position: relative;
    cursor: pointer;
    width: min-content;
    text-wrap: nowrap;
}

.content-overlay .nav-link a::after{
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    background-color: var(--secondary-accent);
    opacity: 0.5;
    left: 0;
    top: 35%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}
.content-overlay .nav-link a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.content-overlay .nav-link span{
    position: relative;
    top: 0.3em;
}

.content-overlay .nav-link a{
    padding: 0 0 0 .5em;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    color: var(--light);
    text-transform: uppercase;
}

.overlay-graphic{
    pointer-events: all;
}

.overlay-graphic path:hover{
    stroke: var(--primary-accent);
}

.nav-links{
    pointer-events: all;
}

section{
    background-color: var(--light);
}

.hero-footer{
    position: absolute;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
    bottom: 0;
    color: var(--primary-accent);
}

.hero{
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.hero-logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.main-hero-logo{
    position: absolute;
    z-index: 5;
}

.overlay-hero-logo{
    position: absolute;
    z-index: 4;
}

/* TODO: change font */
.hero-text{
    position: absolute;
    z-index: 3;
    text-transform: uppercase;
    color: var(--primary-accent);
    font-size: 7vw;
    width: 50%;
    text-wrap: wrap;
    text-align: center;
}

/* TODO: change font */
.hero-text-stroke{
    display: none;
}

.sticky-text-1,
.sticky-text-2,
.sticky-text-3{
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    z-index: 3;
}

.sticky-text-1,
.sticky-text-2{
    background-color: var(--primary-accent);
    color: var(--light);
}

.sticky-text-3{
    color: var(--dark);
}

.text-container,
.bg-sticky{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: opacity, transform;
    z-index: 1;
}

.bg-sticky{
    background-color: var(--primary-accent);
}

.text-container h2{
    position: relative;
    left: -0.035em;
    letter-spacing: -0.05em;
    transform-origin: 50% 0%;
    transform: scale(0);
}

.sticky-text-1 .text-container h2{
    font-size: 27vw;
    font-weight: 300;
    will-change: transform;
}

.sticky-text-2 .text-container h2{
    font-size: 25vw;
    font-weight: 500;
    will-change: transform;
}

.sticky-text-3 .text-container h2{
    font-size: 31vw;
    font-weight: 900;
}

.header-sticky{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 2;
    color: var(--light);
}

.mobile-texts{
    display: none;
}

.micro-texts{
    display: none;
}

@media (max-width: 979px){
    .toggle:hover span:nth-child(1){
        transform: translateX(0);
    }
    .toggle:hover span:nth-child(2){
        transform: translateX(0);
    }
    .toggle.active span{
        background-color: var(--dark);
    }
    .hero-footer{
        text-align: center;
    }
    .mobile-texts {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;
    }

    .cuboid-container {
        width: 100%;
        height: 25vw;
        min-height: 150px;
        overflow: hidden;
    }

    .cuboid {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s ease-in-out;
    }

    .text-1,
    .text-2,
    .text-3,
    .text-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
    }

    .text-1 h2{
        font-weight: 300;
    }

    .text-2 h2{
        font-weight: 600;
    }

    .text-1 {
        background-color: var(--primary-accent);
        color: var(--light);
        font-weight: 300;
        font-size: 4vw;
        transform: rotateX(0deg) translateZ(13vw);
    }

    .text-2 {
        background-color: var(--primary-accent);
        color: var(--light);
        font-weight: 600;
        font-size: 4vw;
        transform: rotateX(-90deg) translateZ(13vw);
    }

    .text-3 {
        background-color: var(--secondary-accent);
        color: var(--dark);
        font-size: 5vw;
        transform: rotateX(-180deg) translateZ(13vw);
    }

    .text-header {
        background-color: var(--light);
        color: var(--primary-accent);
        font-size: 2.5vw;
        transform: rotateX(-270deg) translateZ(13vw);
        border-top: var(--dark) 2px solid;
        border-bottom: var(--dark) 2px solid;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    :root{
        --standard-header-padding: 30px;
    }
    .content-overlay{
        padding: 6em 1em 3em;
        justify-content: space-between;
        flex-direction: row;
        gap: 4em;
    }
    .overlay-graphic{
        width: 80vh;
        height: 80vh;
    }
    .content-overlay h1{
        display: none;
    }
    .navicon{
        width: 50px;
        height: 50px;
    }
    .navshortlogo{
        width: 150px;
        height: 50px;
    }
    .toggle{
        height: 50px;
        width: 50px;
        border-radius: 4px;
    }
    .toggle svg{
        width: 18px;
        height: 8px;
    }
    .sticky-text-1,
    .sticky-text-2,
    .sticky-text-3{
        display: none;
    }
}

@media (max-width: 767px) {
    :root{
        --standard-header-padding: 20px;
    }
    .center-nav{
        display: none;
    }
    .content-overlay{
        padding: 5em 0 2em;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 2em;
    }
    .content-overlay h1{
        font-size: 10vw;
    }
    .navicon{
        width: 40px;
        height: 40px;
    }
    .navshortlogo{
        width: 120px;
        height: 40px;
    }
    .toggle{
        height: 40px;
        width: 40px;
        border-radius: 2px;
    }
    .toggle svg{
        width: 16px;
        height: 7px;
    }
    .toggle span{
        height: 2px;
        width: 16px;
        position: absolute;
        background-color: var(--primary-accent);
    }
    .hero-text{
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        color: var(--primary-accent);
        font-size: 9vw;
        width: 50%;
        text-wrap: wrap;
        text-align: center;
    }
    
    .overlay-hero-logo{
        display: none;
    }
    h2{
        font-size: 3em;
    }
    .header{
        width: calc(100% - 4em);
    }
    .sticky-text-1,
    .sticky-text-2,
    .sticky-text-3{
        display: none;
    }
    .text-1 {
        background-color: var(--primary-accent);
        color: var(--light);
        font-weight: 300;
        font-size: 8vw;
        transform: rotateX(0deg) translateZ(17.75vw);
    }

    .text-2 {
        background-color: var(--primary-accent);
        color: var(--light);
        font-weight: 600;
        font-size: 8vw;
        transform: rotateX(-90deg) translateZ(17.75vw);
    }

    .text-3 {
        background-color: var(--secondary-accent);
        color: var(--dark);
        font-size: 9vw;
        transform: rotateX(-180deg) translateZ(17.75vw);
    }

    .text-header {
        background-color: var(--light);
        color: var(--primary-accent);
        font-size: 3vw;
        transform: rotateX(-270deg) translateZ(17.75vw);
    }
}

@media (max-width: 380px) {
    .mobile-texts{
        display: none;
    }
    .micro-texts{
        display: block;
        background-color: var(--dark);
    }
    .micro-text-1,
    .micro-text-2,
    .micro-text-3,
    .micro-text-header{
        justify-content: center;
        border-bottom: solid var(--light) 2px;
        border-top: solid var(--light) 2px;
        margin: 1px 0;
    }
    .micro-text-1,
    .micro-text-2{
        color: var(--light);
        background-color: var(--primary-accent);
        font-size: 8vw;
    }
    .micro-text-3{
        color: var(--dark);
        background-color: var(--secondary-accent);
        font-size: 8vw;
    }
    .micro-text-header{
        color: var(--primary-accent);
        background-color: var(--light);
        font-size: 4vw;
        padding: 4vw 0;
        border-bottom: solid var(--dark) 1px;
    }
}

@media (max-width: 320px) {
    .overlay-graphic{
        display: none;
    }
    .content-overlay .nav-link{
        font-size: 4vw;
    }
}