@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=UnifrakturMaguntia&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main: #FF4B33;
    --adiacent: #2222CC;
    --dark: #101010;
    --light: #F5F5F5;
    --gray: #D9D9D9;
}

html, body {
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Funnel Sans", sans-serif;
}

p,
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1;
    user-select: none;
}

.container {
    position: relative;
    width: 100%;
    will-change: transform, opacity;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

/* Navigation */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    z-index: 1000;
}

nav p {
    padding: 1em;
    cursor: pointer;
}

/* Menu Overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--dark);
    color: var(--gray);
    z-index: 999;
    will-change: clip-path;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.menu-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: transform, opacity;
}

.menu-col{
    max-width: 8em;
}

.menu-col:nth-child(2){
    text-align: right;
}

.menu-img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    will-change: transform, opacity;
}

.menu-links-wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    width: max-content;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    will-change: transform;
}

.menu-link {
    position: relative;
    will-change: transform;
    overflow: hidden;
}

.menu-link a{
    position: relative;
    color: var(--light);
    font-size: 10em;
    letter-spacing: -0.02em;
    font-weight: 800;
    display: inline-block;
    overflow: hidden;
}

.menu-link a span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

.link-highlighter{
    position: absolute;
    bottom: 1.5em;
    left: 0;
    width: 400px;
    height: 0.8em;
    background-color: var(--main);
    will-change: transform, width;
}

.char{
    position: relative;
    display: inline-block;
    will-change: transform;
}

h1{
    font-family: "UnifrakturMaguntia", cursive;
}

h2{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 4em;
    font-weight: 500;
    line-height: 1;
}

p{
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero img#glassTexture{
    display: none;
}

.hero-content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-content h2{
    width: 60%;
}

/* Responsive Menu Styles */
@media (max-width: 979px){
    .menu-content{
        top: 25%;
    }

    .menu-img,
    .link-highlighter{
        display: none;
    }

    .menu-links-wrapper{
        flex-direction: column;
        gap: 0;
    }

    .menu-link a{
        font-size: 4em;
        letter-spacing: 0;
    }

    .hero-content{
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 1em;
    }

    .hero-content h2{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .menu-link a{
        font-size: 2em;
        letter-spacing: 0;
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0px;
}