@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=UnifrakturMaguntia&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main: #FF4B33;
    --adiacent: #2222CC;
    --dark: #101010;
    --light: #F5F5F5;
    --gray: #D9D9D9;
}

html, body {
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Funnel Sans", sans-serif;
}

p,
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1;
    user-select: none;
}

.container {
    position: relative;
    width: 100%;
    will-change: transform, opacity;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

/* Navigation */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: color 1s ease, mix-blend-mode 1s ease;
}

nav p {
    padding: 1em;
    cursor: pointer;
}

nav.on-accent {
    color: var(--dark);
    mix-blend-mode: normal;
}

/* Menu Overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--dark);
    color: var(--gray);
    z-index: 999;
    will-change: clip-path;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.menu-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: transform, opacity;
}

.menu-col{
    max-width: 8em;
}

.menu-col:nth-child(2){
    text-align: right;
}

.menu-img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    will-change: transform, opacity;
}

.menu-links-wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    width: max-content;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    will-change: transform;
}

.menu-link {
    position: relative;
    will-change: transform;
    overflow: hidden;
}

.menu-link a{
    position: relative;
    color: var(--light);
    font-size: 10em;
    letter-spacing: -0.02em;
    font-weight: 800;
    display: inline-block;
    overflow: hidden;
}

.menu-link a span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

.link-highlighter{
    position: absolute;
    bottom: 1.5em;
    left: 0;
    width: 400px;
    height: 0.8em;
    background-color: var(--main);
    will-change: transform, width;
}

.char{
    position: relative;
    display: inline-block;
    will-change: transform;
}

h1{
    font-family: "UnifrakturMaguntia", cursive;
}

h2{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 4em;
    font-weight: 500;
    line-height: 1;
}

p{
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    z-index: 1006;
    pointer-events: none;
}

.loader-clip{
    position: absolute;
    width: 100vw;
    height: 33.3vh;
    height: 33.3svh;
    overflow: clip;
    z-index: 10000;
}

.clip-top{
    top: 0;
    clip-path: inset(0 0 0 0);
    background-color: var(--light);
}

.clip-bottom{
    bottom: 0;
    clip-path: inset(0 0 0 0);
    background-color: var(--light);
}

.clip-center{
    overflow: hidden;
    position: absolute;
    z-index: 1006;
    top: 33.3vh;
    height: 33.4vh;
    top: 33.3svh;
    height: 33.4svh;
    width: 100vw;
}

.marquee{
    position: absolute;
    top: 200%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 200vw;
    color: var(--light);
    mix-blend-mode: difference;
    font-size: 16vw;
}

.marquee-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.warn{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    z-index: 1005;
    font-family: "Funnel Sans", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 1em;
    background-color: var(--dark);
}

.warn .warn-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1em;
}

.warn-text{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
}

.warn-toggle{
    display: flex;
    align-items: center;
}

.switch {
    margin-left: 1em;
    width: 3.5em;
    height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((2em - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
}

.slider {
    display: inline-block;
    width: 3.5em;
    height: 2em;
    background-color: var(--gray);
    border-radius: 1em;
    position: relative;
    transition: 0.3s all ease-in-out;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: var(--light);
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    left: var(--button-toggle-offset);
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--main);
}

.switch input[type="checkbox"]:checked + .slider::after {
    left: calc(3.5em - var(--toggle-diameter) - var(--button-toggle-offset));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
    left: calc(3.5em - var(--toggle-wider) - var(--button-toggle-offset));
}

@media (hover: none) and (pointer: coarse) {
    .switch input[type="checkbox"]:active + .slider::after {
        width: var(--toggle-wider);
    }

    .switch input[type="checkbox"]:checked:active + .slider::after {
        left: calc(3.5em - var(--toggle-wider) - var(--button-toggle-offset));
    }
}

.warn-footer h6{
    font-size: 0.75em;
    line-height: 1;
    color: var(--main);
    display: none;
    text-transform: lowercase;
}

.warn-footer h6.show {
    display: flex;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        visibility: visible;
    }
}

.continue-button {
  width: auto;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  background-color: var(--light);
  border-radius: 30px;
  color: var(--dark);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  padding: 0.5em 1em;
  transition-duration: .5s;
  font-family: "Funnel Sans", sans-serif;
}

.svgIcon {
  height: 25px;
  transition-duration: .5s;
}

.bell path {
  fill: var(--dark);
}

.continue-button:hover {
  background-color: var(--main);
  transition-duration: .5s;
}

.continue-button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.continue-button:hover .svgIcon {
  transform: rotate(-45deg);
  transition-duration: .5s;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
}

.hero #glassTexture{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--dark); 
    background-color: var(--main); 
    height: 100svh; 
    width: 100%;
    font-size: 8em;
    font-family: "UnifrakturMaguntia", cursive;

}

.hero-content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--dark);
}

.hero-content h2{
    width: 60%;
}

/* Responsive Menu Styles */
@media (max-width: 979px){
    .menu-content{
        top: 25%;
    }

    .menu-img,
    .link-highlighter{
        display: none;
    }

    .menu-links-wrapper{
        flex-direction: column;
        gap: 0;
    }

    .menu-link a{
        font-size: 4em;
        letter-spacing: 0;
    }

    .hero-content{
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 1em;
    }

    .hero-content h2{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .menu-link a{
        font-size: 2em;
        letter-spacing: 0;
    }

    .warn-text p {
        font-size: 0.85em;
        width: 30vw;
    }

    .warn-text h6 {
        font-size: 0.7em;
        width: 30vw;
    }

    .switch {
        margin: 0;
    }

    h2{
        font-size: 3em;
    }
}

@media (max-width: 480px) {
    .warn-text p {
        font-size: 0.75em;
    }

    .warn-text h6 {
        font-size: 0.65em;
        width: 30vw;
    }

    h2{
        font-size: 2em;
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0px;
}