*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --standard-header-padding: 40px;
    --primary-accent: #2222CC;
    --secondary-accent: #FF4B33;
    --dark: #101010;
    --light: #F5F5F5;
}

html, body {
    background-color: var(--light);
    color: var(--dark);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 0;
}


header{
    position: fixed;
    z-index: 1000;
    height: auto; 
    width: 100vw; 
    display: flex; 
    justify-content: space-between; 
    padding: var(--standard-header-padding) var(--standard-header-padding) 0;
}

.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--secondary-accent);
    border-radius: 25px;
    cursor: pointer;
    position: relative;
}

.toggle span{
    height: 2px;
    width: 20px;
    position: absolute;
    background-color: var(--primary-accent);
}
.toggle span:nth-child(1){
    top: 46%;
}
.toggle span:nth-child(2){
    top: 54%;
}

.toggle.active span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
    background-color: var(--dark);
}

.toggle.active span:nth-child(2){
    transform:rotate(-45deg);
    top: 50%;
    background-color: var(--dark);
}

.toggle:hover span:nth-child(1){
    transform: translateX(2px);
    transition: transform 0.3s ease;
}

.toggle:hover span:nth-child(2){
    transform: translateX(-2px);
    transition: transform 0.3s ease;
}

.toggle.active:hover span:nth-child(1){
    transform: rotate(35deg);
    top: 50%;
    background-color: var(--dark);
}

.toggle.active:hover span:nth-child(2){
    transform:rotate(-35deg);
    top: 50%;
    background-color: var(--dark);
}

#square-container{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    pointer-events: none;
    z-index: 10000;
}


.square{
    width: 100px;
    height: 100px;
    background-color: var(--primary-accent);
    box-sizing: border-box;
    pointer-events: none;
}

.content-overlay{
    position: fixed;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: var(--dark);
    color: var(--light);
    z-index: -1;
}

.content-overlay h1{
    font-size: 4vw;
    color: var(--secondary-accent);
    text-transform: uppercase;
}

.content-overlay .nav-link{
    display: flex;
    font-family: "RM Mono";
    position: relative;
    cursor: pointer;
    width: min-content;
    text-wrap: nowrap;
}

.content-overlay .nav-link a::after{
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    background-color: var(--secondary-accent);
    opacity: 0.5;
    left: 0;
    top: 35%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}
.content-overlay .nav-link a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.content-overlay .nav-link span{
    position: relative;
    top: 0.3em;
}

.content-overlay .nav-link a{
    padding: 0 0 0 .5em;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
    color: var(--light);
    text-transform: uppercase;
}

.overlay-graphic path:hover{
    stroke: var(--primary-accent);
}

@media (min-width: 768px) and (max-width: 979px) {
    :root{
        --standard-header-padding: 30px;
    }
    .content-overlay{
        padding: 6em 1em 3em;
        justify-content: space-between;
        flex-direction: row;
        gap: 4em;
    }
    .overlay-graphic{
        width: 80vh;
        height: 80vh;
    }
    .content-overlay h1{
        display: none;
    }
    .navicon{
        width: 50px;
        height: 50px;
    }
    .navshortlogo{
        width: 150px;
        height: 50px;
    }
    .toggle{
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
    .toggle svg{
        width: 18px;
        height: 8px;
    }
}

@media (max-width: 767px) {
    :root{
        --standard-header-padding: 20px;
    }
    .content-overlay{
        padding: 5em 0 2em;
        justify-content: space-between;
        flex-direction: column;
        gap: 2em;
    }
    .content-overlay h1{
        font-size: 15vw;
    }
    .navicon{
        width: 40px;
        height: 40px;
    }
    .navshortlogo{
        width: 120px;
        height: 40px;
    }
    .toggle{
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
    .toggle svg{
        width: 16px;
        height: 7px;
    }
}
@media (max-width: 320px) {
    .overlay-graphic{
        display: none;
    }
    .content-overlay .nav-link{
        font-size: 4vw;
    }
}